@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  body {
    @apply bg-gray-100 dark:bg-gray-800 dark:text-white;
  }
  
  a:hover span.arrow {
    display: inline-block;
    transition: transform 0.3s ease;
    transform: translateX(7rem);
  }
}
