@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  a:hover span.arrow {
    display: inline-block;
    transition: transform 0.3s ease;
    transform: translateX(8rem);
  }
}
