@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  body {
    @apply bg-gray-100 dark:bg-gray-800 dark:text-white;
  }
  
  html {
    @apply scroll-smooth scroll-pt-20;
  }
}
